html, body {
  margin: 0;
  padding: 0;
}

.article {
  border-bottom: solid 1px;
  border-color: rgba(228, 228, 228, 0.5);
  padding: 0 10px 5px 10px;
}

.article h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.article p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;     /* fallback */
  max-height: 72px;      /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.article .time {
  font-size: 12px;
  color: darkgray;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
